/*body{
    background-color: #E9FA98;
}*/
.varela-round-regular {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.body_moneda{
    background-color: #f3e1b4;
}
:root{
    --colorTextos:#49454567;
}
.moneda{
    display: inline-flex;
    width: 30%;
    height: 340px;
    padding-top: 3%;
    align-items:self-start ;
    justify-content: center;
    border-radius: 27px;
    /*border: 2px solid black;*/
    box-shadow: 0px 0px 8px ;
}
.img_moneda{
    max-width: fit-content;
    max-height: fit-content;
    min-width: 150px;
    min-height: 150px;
    border-radius: 100%;
    background-color: #8d4405;
    border: 1px solid #3c1e04;
}
.info_moneda{
    background-color: rgb(187, 194, 200);
}
.links{
    text-align: center;
    margin-top: 18%;
}
.link_tabla{
    text-decoration: none; 
    color: inherit;
    border: solid 2px rgb(9, 214, 74);
}
.body_form{
    height: 80%;
    margin: 0;
    padding: 0;
    font-family: "Nunito";
    text-align: center;
    background: linear-gradient(to bottom, #ff9966 , #ff5e62 );
    background-attachment: fixed;
    
}
.contenedor_form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px);
    height: 60vh;
    margin-top: 4%;
}
.formulario{
    width: 24%;
    height: 120%;
    background-color: white;
    border-radius: 15px;
    border: 2px solid white;
} 
.input_form{
    display: flex;
    appearance: none;
    padding: 8px;
    margin: 8px 0 0 15px;
    flex-direction: column;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
    resize: none;
    
}
.input_form:focus{
    outline: none;
    color: rgb(94, 93, 93);
}
/*.input_form:hover{
    transform: scale(1.1);
}*/
.h1_modificar{
    color: #ffffff;
}
button{
    background-color: transparent;
    color: #000000;
    border: transparent;
    font-size: large;
    font-weight: bolder;

    transition: transform 0.3s ease;
}
.button:hover{
    transform: scale(1.1);
}
.body-tabla-admin{
    display: flex;
    background: linear-gradient(to bottom, #ff9966 , #ff5e62 );
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
b{
    font-family: "Varela Round";
    margin-top: 38px;
    margin-bottom: 18px;
}
.lista{
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    font-family: "Varela Round";
    background-color: white;
    border-radius: 10px;
}
table{
    border-spacing: 15px;
}